numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
scikit-learn==1.2.2
torch==2.6.0
transformers==4.53.3
sentence-transformers==4.1.0
spacy==3.8.7
gensim==4.3.3
joblib==1.5.2
tqdm==4.67.1
seaborn==0.12.2
streamlit
beautifulsoup4
lxml
contractions
emoji
wordninja
autocorrect
clean-text
Unidecode
